<body>
  <link rel="stylesheet" href="home.component.css">
  <div class="welcomeDiv">
    <h1 class="h1">Nike Store</h1>
    <img class="images" src="https://i.pinimg.com/originals/45/c3/1f/45c31fb33fff0abd1879448dddc27d34.jpg"><br>
    <span class="span1">Welcome!</span><br>
    <p class="p1">
        Nestled in the heart of our virtual shopping haven, 
        the Nike store beckons with an irresistible array of cutting-edge sportswear and footwear.<br>
        Explore a symphony of colors and styles as you browse through our curated collection, 
        featuring the latest innovations and iconic designs from Nike. <br>
        Whether you're a seasoned athlete or a trendsetter on the streets,
        our store caters to every active lifestyle. <br>
        Immerse yourself in the essence of performance and fashion,
        where each product tells a story of athleticism, innovation, and sheer style.<br>
        Unleash your potential with Nike's unparalleled quality and craftsmanship,
        and step into a world where sports meets artistry.
    </p>
  </div>
  <br>
  <br>
  <div class="contact-bar">
    <div class="contact-info">
        <div class="h">Contact Us</div>
        <img src="https://w7.pngwing.com/pngs/975/579/png-transparent-ipma-email-telephone-message-email-icon-miscellaneous-angle-telephone-call-thumbnail.png" class="Gmail"> Email: CustomerServiceNike@gmail.com
        <br>
         <img src="https://png.pngtree.com/png-clipart/20191027/ourmid/pngtree-telephone-glyph-icon-vector-png-image_5199512.png" class="Phone"> Phone:+972(0)77-9720922 
    </div>
    <br>
    <div class="social-icons">
      <a href="https://www.facebook.com/nike" ><img src="https://image.similarpng.com/very-thumbnail/2020/04/Popular-facebook-Logo-png.png" class="Facebook"></a>
      <a href="https://www.instagram.com/nike/" ><img src="https://image.similarpng.com/very-thumbnail/2020/05/Vector-Instagram-icon-PNG.png" class="Twitter"></a>
      <a href="https://twitter.com/Nike" ><img src="https://image.similarpng.com/very-thumbnail/2020/06/Popular-Logo-Twitter-icon-transparent-PNG.png" class="Instagram"></a>
    </div>
  </div>
</body>
